.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.modal-main {
  position: fixed;
  background: #ffffff;
  min-height: 4rem;
  min-width: 36%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}

.modal-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.4rem;
}
.modal-content {
  padding: 0.4rem;
  overflow-y: auto;
  height: calc(100% - 40px);
  max-width: 97vw;
  max-height: 90vh;
}
.modal-footer {
  padding: 0.4rem;
  display: flex;
  justify-content: flex-end;
}



.display-block {
  display: inline-block;
}

.display-none {
  display: none;
}

.modal-title {
  white-space: nowrap;
  color: #333;
}

.modal-header {
  border-bottom: 1px solid var(--color-light);
  color: var(--color-light);
}
.btn.close-button,
.close-button {
  color: var(--color-light);
}
.close-button:hover {
  color: #f1f1f1;
}


@media only screen and (max-width: 600px) {
  .modal-main {
    width: 95vw;
  }
}