:root {
  --table-bg-color: rgb(250, 253, 253);
  --table-header-bg-color: rgb(49, 128, 128);
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  font-size: 0.7rem;
  table-layout: auto;
}
table thead tr {
  text-transform: uppercase;
}
tbody tr:hover {
  background-color: #f5f5ff;
}

td,
th {
  padding: 0 4px;
  border-bottom: 1px solid #ddd;
}
th {
  padding: 10px 4px;
  font-size: 0.8em;
}
td {
  line-height: 2rem;
}
td.col-ellipsis {
  max-width: 10em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pagination {
  display: flex;
  align-items: center;
  padding: 0.4em 0;
}
.pagination li {
  margin: 0 0.4em;
}
.pagination li button,
.pagination li span {
  color: rgb(24, 102, 133);
}
.pagination .btn-wrap:first-child button {
  padding: 0.1em 0.5em 0.1em 0;
}
.pagination .btn-wrap:last-child button {
  padding: 0.1em 0 0.1em 0.5em;
}
.pagination .btn-wrap button:disabled,
.pagination .btn-wrap button:disabled * {
  color: rgb(156, 152, 152);
}
.table-scrollable {
  overflow-x: auto;
  overflow-y: auto;
  max-height: 56vh;
}

.table-scrollable thead th {
  position: sticky;
  top: 0;
  background: #f9fcfc;
}

@media only screen and (max-width: 600px) {
}
